PORT=5000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=yourpassword
DB_NAME=cms_db
DB_PORT=3306

JWT_SECRET=change_this_secret
JWT_EXPIRE=7d

SMTP_HOST=sandbox.smtp.mailtrap.io
SMTP_PORT=2525
SMTP_SECURE=false
SMTP_USER=51844f404982aa
SMTP_PASS=2451140807e7ae
SMTP_FROM="ConferMS <no-reply@conferms.com>"

APP_BASE_URL=http://localhost:3000
EMAIL_CRON_SCHEDULE=*/2 * * * *
EMAIL_BATCH_SIZE=10
EMAIL_MAX_ATTEMPTS=3
PLAGIARISM_FLAG_THRESHOLD=75

